<!-- email_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Thank you for donating to GroundUp</title>
</head>
<body>
    <p>Dear {{ donor_name }}</p>
    <br>
    <p>Thank you for donating to GroundUp!</p>
    <br>
    <p>Your donation is tax-deductible in the Republic of South Africa. Please send an email to donations@groundup.org.za to request your Section 18A tax certificate.</p>
    <p>Here is your link to your donor dashboard, where you can update your details and view your donations: <a href="{{ unique_link }}">{{ unique_link }}</a></p>
    <p>This link expires after 24 hours. If it has expired, you can request a new one at <a href="{{ access_link }}">{{ access_link }}</a>.</p>
    <br>
    <p>You can find a list of our donations at: <a href="{{ donation_link }}">{{ donation_link }}</a></p>
    <br>
    <p>Thank you for supporting news that matters. We look forward to keeping you informed.</p>
    <br>
    <p>Kind regards</p>
    <p>GroundUp</p>
</body>
</html>

